.header {
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 20px 20px;
}
.card-content {
    background-color: var(--bg-secondary);
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    padding: 0px;
}
.card-image img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    display: block;
    height: 600px;
}
.card-image {
    line-height: 0;
    font-size: 0;
}
.game-card {
    flex-direction: column;
    display: flex;
}
#games-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px; 
    justify-content: center;
}
.card-meta {
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.card-meta span:last-child {
    padding-right: 30px;
}
.card-meta span:first-child {
    padding-left: 30px;

}
.card-content h3 {
    text-align: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.search-bar {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    background-color: rgba(250, 235, 215, 0.533);
    border-radius: var(--radius);
    padding-left: 20px;
}
.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.search-button {
    width: 50px;
    height: 40px;
    margin-top: 20px;
    background-color: rgba(250, 235, 215, 0.533);
    border-radius: var(--radius);
}